--
-- PostgreSQL database dump
--

-- Dumped from database version 15.4
-- Dumped by pg_dump version 15.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: agent_knowledge; Type: TABLE; Schema: public; Owner: kabornblack
--

CREATE TABLE public.agent_knowledge (
    id integer NOT NULL,
    knowledge_text text NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    company_id integer,
    agent_id integer
);


ALTER TABLE public.agent_knowledge OWNER TO kabornblack;

--
-- Name: agent_knowledge_id_seq; Type: SEQUENCE; Schema: public; Owner: kabornblack
--

CREATE SEQUENCE public.agent_knowledge_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.agent_knowledge_id_seq OWNER TO kabornblack;

--
-- Name: agent_knowledge_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: kabornblack
--

ALTER SEQUENCE public.agent_knowledge_id_seq OWNED BY public.agent_knowledge.id;


--
-- Name: agents; Type: TABLE; Schema: public; Owner: kabornblack
--

CREATE TABLE public.agents (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    description text,
    system_prompt text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone,
    company_id integer NOT NULL
);


ALTER TABLE public.agents OWNER TO kabornblack;

--
-- Name: agents_id_seq; Type: SEQUENCE; Schema: public; Owner: kabornblack
--

CREATE SEQUENCE public.agents_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.agents_id_seq OWNER TO kabornblack;

--
-- Name: agents_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: kabornblack
--

ALTER SEQUENCE public.agents_id_seq OWNED BY public.agents.id;


--
-- Name: companies; Type: TABLE; Schema: public; Owner: kabornblack
--

CREATE TABLE public.companies (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.companies OWNER TO kabornblack;

--
-- Name: companies_id_seq; Type: SEQUENCE; Schema: public; Owner: kabornblack
--

CREATE SEQUENCE public.companies_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.companies_id_seq OWNER TO kabornblack;

--
-- Name: companies_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: kabornblack
--

ALTER SEQUENCE public.companies_id_seq OWNED BY public.companies.id;


--
-- Name: company_users; Type: TABLE; Schema: public; Owner: kabornblack
--

CREATE TABLE public.company_users (
    id integer NOT NULL,
    company_id integer NOT NULL,
    user_id integer NOT NULL,
    role character varying(50)
);


ALTER TABLE public.company_users OWNER TO kabornblack;

--
-- Name: company_users_id_seq; Type: SEQUENCE; Schema: public; Owner: kabornblack
--

CREATE SEQUENCE public.company_users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.company_users_id_seq OWNER TO kabornblack;

--
-- Name: company_users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: kabornblack
--

ALTER SEQUENCE public.company_users_id_seq OWNED BY public.company_users.id;


--
-- Name: conversations; Type: TABLE; Schema: public; Owner: kabornblack
--

CREATE TABLE public.conversations (
    id integer NOT NULL,
    agent_id integer,
    user_query text,
    agent_response text,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.conversations OWNER TO kabornblack;

--
-- Name: conversations_id_seq; Type: SEQUENCE; Schema: public; Owner: kabornblack
--

CREATE SEQUENCE public.conversations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.conversations_id_seq OWNER TO kabornblack;

--
-- Name: conversations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: kabornblack
--

ALTER SEQUENCE public.conversations_id_seq OWNED BY public.conversations.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: kabornblack
--

CREATE TABLE public.users (
    id integer NOT NULL,
    email character varying(255) NOT NULL,
    hashed_password character varying(255) NOT NULL,
    is_admin boolean DEFAULT false,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.users OWNER TO kabornblack;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: kabornblack
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO kabornblack;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: kabornblack
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: agent_knowledge id; Type: DEFAULT; Schema: public; Owner: kabornblack
--

ALTER TABLE ONLY public.agent_knowledge ALTER COLUMN id SET DEFAULT nextval('public.agent_knowledge_id_seq'::regclass);


--
-- Name: agents id; Type: DEFAULT; Schema: public; Owner: kabornblack
--

ALTER TABLE ONLY public.agents ALTER COLUMN id SET DEFAULT nextval('public.agents_id_seq'::regclass);


--
-- Name: companies id; Type: DEFAULT; Schema: public; Owner: kabornblack
--

ALTER TABLE ONLY public.companies ALTER COLUMN id SET DEFAULT nextval('public.companies_id_seq'::regclass);


--
-- Name: company_users id; Type: DEFAULT; Schema: public; Owner: kabornblack
--

ALTER TABLE ONLY public.company_users ALTER COLUMN id SET DEFAULT nextval('public.company_users_id_seq'::regclass);


--
-- Name: conversations id; Type: DEFAULT; Schema: public; Owner: kabornblack
--

ALTER TABLE ONLY public.conversations ALTER COLUMN id SET DEFAULT nextval('public.conversations_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: kabornblack
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: agent_knowledge; Type: TABLE DATA; Schema: public; Owner: kabornblack
--

COPY public.agent_knowledge (id, knowledge_text, created_at, company_id, agent_id) FROM stdin;
3	Help HR, now we can be fine and help each other, this company is about humanity. Lets go again and this time.....	2025-11-06 22:31:20.74363+02	3	9
\.


--
-- Data for Name: agents; Type: TABLE DATA; Schema: public; Owner: kabornblack
--

COPY public.agents (id, name, description, system_prompt, created_at, updated_at, company_id) FROM stdin;
9	HR Agent 	Help HR	Help HR, now we can be fine and help each other	2025-11-06 22:31:20.704804+02	\N	3
12	why agent	do as i say	Make this work just fine	2025-11-09 09:59:02.50009+02	\N	3
14	create	agent	best agent	2025-11-09 11:45:00.7027+02	\N	3
15	sept 3	Help answer questions about this company	Help answer questions about this company, be polite and make this fair	2025-11-09 13:52:48.175041+02	\N	3
\.


--
-- Data for Name: companies; Type: TABLE DATA; Schema: public; Owner: kabornblack
--

COPY public.companies (id, name, created_at) FROM stdin;
3	money	2025-11-06 17:02:12.189734+02
4	AI Agent Builder	2025-11-06 22:35:02.728681+02
6	game	2025-11-07 20:22:27.53495+02
7	founders	2025-11-08 12:43:27.296325+02
11	trap	2025-11-10 07:02:06.716249+02
\.


--
-- Data for Name: company_users; Type: TABLE DATA; Schema: public; Owner: kabornblack
--

COPY public.company_users (id, company_id, user_id, role) FROM stdin;
2	3	2	owner
3	4	3	owner
5	6	5	owner
18	7	18	owner
21	3	24	admin
27	3	30	member
28	3	31	admin
33	11	36	owner
\.


--
-- Data for Name: conversations; Type: TABLE DATA; Schema: public; Owner: kabornblack
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: kabornblack
--



--
-- Name: agent_knowledge_id_seq; Type: SEQUENCE SET; Schema: public; Owner: kabornblack
--

SELECT pg_catalog.setval('public.agent_knowledge_id_seq', 4, true);


--
-- Name: agents_id_seq; Type: SEQUENCE SET; Schema: public; Owner: kabornblack
--

SELECT pg_catalog.setval('public.agents_id_seq', 16, true);


--
-- Name: companies_id_seq; Type: SEQUENCE SET; Schema: public; Owner: kabornblack
--

SELECT pg_catalog.setval('public.companies_id_seq', 11, true);


--
-- Name: company_users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: kabornblack
--

SELECT pg_catalog.setval('public.company_users_id_seq', 33, true);


--
-- Name: conversations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: kabornblack
--

SELECT pg_catalog.setval('public.conversations_id_seq', 13, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: kabornblack
--

SELECT pg_catalog.setval('public.users_id_seq', 36, true);


--
-- Name: agent_knowledge agent_knowledge_company_id_key; Type: CONSTRAINT; Schema: public; Owner: kabornblack
--

ALTER TABLE ONLY public.agent_knowledge
    ADD CONSTRAINT agent_knowledge_company_id_key UNIQUE (company_id);


--
-- Name: agent_knowledge agent_knowledge_pkey; Type: CONSTRAINT; Schema: public; Owner: kabornblack
--

ALTER TABLE ONLY public.agent_knowledge
    ADD CONSTRAINT agent_knowledge_pkey PRIMARY KEY (id);


--
-- Name: agents agents_pkey; Type: CONSTRAINT; Schema: public; Owner: kabornblack
--

ALTER TABLE ONLY public.agents
    ADD CONSTRAINT agents_pkey PRIMARY KEY (id);


--
-- Name: companies companies_name_key; Type: CONSTRAINT; Schema: public; Owner: kabornblack
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT companies_name_key UNIQUE (name);


--
-- Name: companies companies_pkey; Type: CONSTRAINT; Schema: public; Owner: kabornblack
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT companies_pkey PRIMARY KEY (id);


--
-- Name: company_users company_users_pkey; Type: CONSTRAINT; Schema: public; Owner: kabornblack
--

ALTER TABLE ONLY public.company_users
    ADD CONSTRAINT company_users_pkey PRIMARY KEY (id);


--
-- Name: conversations conversations_pkey; Type: CONSTRAINT; Schema: public; Owner: kabornblack
--

ALTER TABLE ONLY public.conversations
    ADD CONSTRAINT conversations_pkey PRIMARY KEY (id);


--
-- Name: agents unique_agent_per_company; Type: CONSTRAINT; Schema: public; Owner: kabornblack
--

ALTER TABLE ONLY public.agents
    ADD CONSTRAINT unique_agent_per_company UNIQUE (company_id, name);


--
-- Name: company_users uq_company_user; Type: CONSTRAINT; Schema: public; Owner: kabornblack
--

ALTER TABLE ONLY public.company_users
    ADD CONSTRAINT uq_company_user UNIQUE (company_id, user_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: kabornblack
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_agent_knowledge_id; Type: INDEX; Schema: public; Owner: kabornblack
--

CREATE INDEX ix_agent_knowledge_id ON public.agent_knowledge USING btree (id);


--
-- Name: ix_agents_id; Type: INDEX; Schema: public; Owner: kabornblack
--

CREATE INDEX ix_agents_id ON public.agents USING btree (id);


--
-- Name: ix_companies_id; Type: INDEX; Schema: public; Owner: kabornblack
--

CREATE INDEX ix_companies_id ON public.companies USING btree (id);


--
-- Name: ix_company_users_id; Type: INDEX; Schema: public; Owner: kabornblack
--

CREATE INDEX ix_company_users_id ON public.company_users USING btree (id);


--
-- Name: ix_conversations_id; Type: INDEX; Schema: public; Owner: kabornblack
--

CREATE INDEX ix_conversations_id ON public.conversations USING btree (id);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: kabornblack
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: ix_users_id; Type: INDEX; Schema: public; Owner: kabornblack
--

CREATE INDEX ix_users_id ON public.users USING btree (id);


--
-- Name: agent_knowledge agent_knowledge_agent_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kabornblack
--

ALTER TABLE ONLY public.agent_knowledge
    ADD CONSTRAINT agent_knowledge_agent_id_fkey FOREIGN KEY (agent_id) REFERENCES public.agents(id) ON DELETE CASCADE;


--
-- Name: agent_knowledge agent_knowledge_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kabornblack
--

ALTER TABLE ONLY public.agent_knowledge
    ADD CONSTRAINT agent_knowledge_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON DELETE CASCADE;


--
-- Name: agents agents_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kabornblack
--

ALTER TABLE ONLY public.agents
    ADD CONSTRAINT agents_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON DELETE CASCADE;


--
-- Name: company_users company_users_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kabornblack
--

ALTER TABLE ONLY public.company_users
    ADD CONSTRAINT company_users_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON DELETE CASCADE;


--
-- Name: company_users company_users_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kabornblack
--

ALTER TABLE ONLY public.company_users
    ADD CONSTRAINT company_users_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: conversations conversations_agent_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kabornblack
--

ALTER TABLE ONLY public.conversations
    ADD CONSTRAINT conversations_agent_id_fkey FOREIGN KEY (agent_id) REFERENCES public.agents(id);


--
-- PostgreSQL database dump complete
--

